# ~/.config/systemd/user/xremap.service
[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=/bin/bash -l -c 'xremap --watch=config ~/.xremap.yml'
