#!/bin/sh

# colors
if [ -x /usr/bin/dircolors ]; then
  eval "`dircolors -b`"
  alias ls='ls -lhN --color=auto'
  alias dir='ls -lhN --color=auto'
else
  # OSX
  alias ls='ls -ohG'
  alias dir='ls -ohG'
fi

function masterbranch() {
  if [[ "$@" != "" ]]; then
    git fetch
    git branch "$@" origin/master
    git checkout "$@"
    git config branch."$@".remote origin
    git config branch."$@".merge refs/heads/"$@"
    git config branch."$@".rebase true
  fi
}

function sprintbranch() {
  if [[ "$@" != "" ]]; then
    git fetch
    git branch "$@" origin/sprint
    git checkout "$@"
    git config branch."$@".remote origin
    git config branch."$@".merge refs/heads/"$@"
    git config branch."$@".rebase true
  fi
}

function developbranch() {
  if [[ "$@" != "" ]]; then
    git fetch
    git branch "$@" origin/develop
    git checkout "$@"
    git config branch."$@".remote origin
    git config branch."$@".merge refs/heads/"$@"
    git config branch."$@".rebase true
  fi
}

# ----------------------------------------------------------------------
# Default arguments for common commands

alias grep='grep --color'
alias less='less -R' # deal with colours
alias make='make -j17' # use more cores

# ----------------------------------------------------------------------
# Ruby

function rake { if [ -f './bin/rake' ]; then ./bin/rake "$@"; else `which rake` "$@"; fi }
function rails { if [ -f './bin/rails' ]; then ./bin/rails "$@"; else `which rails` "$@"; fi }
function rspec { if [ -f './bin/rspec' ]; then ./bin/rspec "$@" 2> /dev/null; else `which rspec` "$@"; fi }

alias be='bundle exec'

# ----------------------------------------------------------------------
# Allegro 4

function extract_dat {
    datexe="${HOME}/bin/allegro4dat.exe"
    files=`wine ${datexe} "$1" -l | cut -d '-' -f 3 | awk 'NR > 1 { print }'`
    out=`basename -s .dat "${1}"`
    echo $out
    mkdir -p "$out"
    for f in $files; do
        wine "${datexe}" $1 -e "$f" -o "$out/"
    done
}

# ----------------------------------------------------------------------
# Cataclysm DDA

catasrc="$HOME/Library/Application Support/Cataclysm/save/"
#catasrc=/usr/local/Cellar/cataclysm/*/libexec/save/
catabkp=~/.catabackup/
function catabackup  {
    rsync -rvah "${catasrc}" "${catabkp}"
}
function catarestore {
    rsync -rvah "${catabkp}" "${catasrc}"
}
