#!/bin/sh

alias ga='git add'
alias gap='git add -p'
alias gc='git commit'
alias gcm='git commit -m'
alias gd='git diff'
alias gdc='git dc'
alias gs='git status'

# colors
if $(command -v dircolors > /dev/null); then
  eval "$(dircolors -b)"
  alias ls='ls -lhN --color=always'
  alias dir='ls -lhN --color=always'
else
  # OSX
  alias ls='ls -ohG'
  alias dir='ls -ohG'
fi

gitbranch() {
  name=$1
  base=$2
  if [ "$base" = "" ]; then
    base=$(git rev-parse --abbrev-ref origin/HEAD)
  fi
  if [ "$name" != "" ]; then
    git fetch
    git branch "$name" "$base"
    git checkout "$name"
    git config branch."$name".remote origin
    git config branch."$name".merge refs/heads/"$name"
    git config branch."$name".rebase true
  fi
}

mainbranch() {
  gitbranch "$@"
}

masterbranch() {
  gitbranch "$@"
}

# ----------------------------------------------------------------------
# Default arguments for common commands

alias grep='grep --color'
alias less='less -R' # deal with colours
alias make='make -j17 --no-print-directory' # use more cores
alias sqlite3='sqlite3 -line' # better output format by default

# ----------------------------------------------------------------------
# Ruby

rake() { if [ -f './bin/rake' ]; then ./bin/rake "$@"; else $(which rake) "$@"; fi }
rails() { if [ -f './bin/rails' ]; then ./bin/rails "$@"; else $(which rails) "$@"; fi }
rspec() { if [ -f './bin/rspec' ]; then ./bin/rspec "$@"; else $(which rspec) "$@"; fi }
minitest() { if [ -f './bin/minitest' ]; then ./bin/minitest "$@"; else $(which minitest) "$@"; fi }

alias be='bundle exec'

# ----------------------------------------------------------------------
# Allegro 4

extract_dat() {
    datexe="${HOME}/bin/allegro4dat.exe"
    files=$(wine "${datexe}" "$1" -l | cut -d '-' -f 3 | awk 'NR > 1 { print }')
    out=$(basename -s .dat "${1}")
    echo "$out"
    mkdir -p "$out"
    for f in $files; do
        wine "${datexe}" "$1" -e "$f" -o "$out/"
    done
}

# ----------------------------------------------------------------------
# Kubectl

alias k='kubectl'

# ----------------------------------------------------------------------
# Cataclysm DDA

catasrc="$HOME/games/cdda/save/"
catabkp=~/.catabackup/
catabackup() {
    rsync -rvah "${catasrc}" "${catabkp}"
}
catarestore() {
    rsync -rvah "${catabkp}" "${catasrc}"
}
