[color]
	ui = true
[push]
	default = simple
[user]
	name = Gregory McIntyre
	email = greg@gregorymcintyre.com
[core]
	editor = /usr/local/bin/gvim -f
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	log = diff-so-fancy | less --tabs=4 -RFX # too slow? locking up?
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[credential]
	helper = osxkeychain
[alias]
	# one-line log
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

	a = add
	ap = add -p
	c = commit --verbose
	ca = commit -a --verbose
	cm = commit -m
	cam = commit -a -m
	m = commit --amend --verbose

	d = diff
	ds = diff --stat
	dc = diff --cached

	s = status -sb
	co = checkout
	cob = checkout -b
	cop = checkout -p

	# list branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname:short)' refs/heads"

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"

	cb = rev-parse --symbolic-full-name --abbrev-ref HEAD
	gp = !git push --set-upstream origin HEAD:$(git cb)
	up = !git fetch --prune origin && git rebase -p origin/$(git cb)
	gup = !git fetch --prune origin && git rebase -p origin/$(git cb)

	stashpull = !git -c rebase.autoStash=true pull --rebase

	cleanup = "!git branch --merged origin/master | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	tags = !.git/hooks/ctags

[diff]
	tool = diffmerge
	renameLimit = 2000
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
	conflictstyle = diff3
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	templatedir = ~/.git_template
