*.tags
.DS_Store
.bundle/cache/
.emacs.d
.emacs.d/elpa
.respec
.vim/plugged
.vim/spell/en.utf-8.add.spl
/bin/fly
/bin/flyctl
/bin/geckodriver
/bin/godot
/bin/obsidian
/bin/privoxy
/bin/rubymine
/bin/update-report
/bin/yq
/bin/zola
TAGS
ansible/*.retry
away.log
tags
vendor.*
