*.tags
.DS_Store
.bundle/cache/
.emacs.d
.emacs.d/elpa
.respec
.vim/plugged
.vim/spell/en.utf-8.add.spl
/bin/geckodriver
/bin/obsidian
/bin/privoxy
/bin/update-report
/bin/zola
/bin/rubymine
/bin/yq
TAGS
ansible/*.retry
away.log
tags
vendor.*
