[color]
  ui = true
[push]
  default = current
[user]
  name = Gregory McIntyre
  email = greg@gregorymcintyre.com
[core]
  editor = /usr/bin/vim
[branch]
  autosetuprebase = always
[pager]
        diff = diff-so-fancy | less --tabs=1,5 -RFX
        show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
