# Be quiet.
set bell-style visible

# We are using a UTF terminal.
set convert-meta on

M-n: history-search-forward
M-p: history-search-backward
set show-all-if-ambiguous on
set completion-ignore-case on
