/* ==UserStyle==
@name           Facebook with less junk
@namespace      github.com/openstyles/stylus
@version        1.2.1
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/facebook.user.css
@description    Facebook changes
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document domain("facebook.com") {
    /* stories */
    [aria-label="Stories"] {
        display: none;
    }

    /* top nav icons */
    [aria-label^="Marketplace"],
    [aria-label^="Watch"],
    [aria-label^="Gaming"] {
        display: none;
    }

    [data-pagelet="GroupFeed"] [role="feed"] {
        display: block;
    }

    [aria-label="Preview of a group"] [role="feed"] {
        display: block;
    }

    /* video / photo / feeling tabs under "what's on your mind" input */
    [aria-label="Create a post"] > div:nth-child(2) {
        display: none;
    }

    /* create room */
    #ssrb_stories_end + div > div > div:nth-child(4) {
        display: none;
    }

    /* suggestions in the complementary sidebar on the right */
    #ssrb_rhc_start + div > div:first-child {
        display: none;
    }
}

