/* ==UserStyle==
@name           Oh Jira
@namespace      github.com/openstyles/stylus
@version        1.3.4
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/jira.user.css
@description    Jira changes - more compact, less busy, utilitarian
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document regexp("https://.+?.atlassian.net.*")
{
  :root {
    --margin-side: 10px;
    --grabber-bg-img: repeating-linear-gradient(
      45deg,
      var(--ds-background-neutral) 25%,
      transparent 25%,
      transparent 75%,
      var(--ds-background-neutral) 75%,
      var(--ds-background-neutral)
    );
    --grabber-bg-size: 4px 4px;
    --sidebar-bg-color: var(--ds-background-neutral);
    --ds--resize-button--opacity: 1;
  }

  /* use full width available */
  #ak-main-content > div {
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);

    [data-component-selector="jira-issue-view-issue-page-grid-padding-override"] {
      margin-left: calc(-1 * var(--margin-side)) !important;
      margin-right: calc(-1 * var(--margin-side)) !important;
    }
  }

  /* no no no no FFS */
  [aria-label="AI"],
  [data-testid$=".ai-container"] {
    display: none;
  }

  /* header */
  [data-testid="atlassian-navigation--header"] {
    #atlassian-navigation-notification-count {
      display: none;
    }
  }

  /* dashboard */
  .dashboard {
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    .issue-table thead {
      border: none;
    }
    .issue-table tbody {
      border: none;
    }
    .issue-table > tbody > tr > td {
      padding: 4px 4px !important;
    }

    .empty-results.search-results-dashboard-item {
      padding: 0 !important;
      margin-bottom: 1rem;
    }
    .activity-stream-header {
      display: none;
    }
    .activity-stream-container {
      padding: 0;
    }
    .sprint-health-dashboard-item {
      background: transparent;
      .ag-header-region {
        border: none;
        .ag-status-header {
          margin: 0;
        }
        h1,
        .ag-name-sprint {
          font-size: 1rem;
          line-height: 1;
          font-weight: normal;
        }
        .ag-inner-area {
          padding: 0;
        }
      }
      > .ag-inner-area {
        display: none;
      }
    }
    [data-testid="dashboard-internal-common.ui.gadget.toolbar.minimize-restore-button"],
    [data-testid="dashboard-internal-common.ui.gadget.toolbar.maximize-restore-button"],
    [aria-label="Copy link"] {
      display: none;
    }
  }

  /* issue view */
  [data-component-selector="jira.issue-view.issue-details.full-size-mode-column"] {
    padding-top: 5px;
    /* account for grabber width */
    padding-left: 20px;
    padding-right: 10px;
    /* AI bullshit */
    [data-testid="issue-smart-request-summary-trigger.ui.jira-smart-summary-standard-button"] {
      display: none;
    }
    [data-testid="canned-comments.ui.ai-comments.ai-container"] ~ small {
      display: none;
    }
    [aria-label="Quick comments"] {
      display: none;
    }
    [data-testid="canned-comments.common.ui.comment-text-area-placeholder.textarea"] {
      border-radius: 6px;
    }
    [data-testid="issue-internal-fields.text-area.text-content-area"] {
      font-size: 14px;
    }
  }

  /* left sidebar, recommend leaving it hidden 99% of the time */
  #ak-side-navigation {
    transition: none;

    > div {
      /* stop the INFURIATING mouse over expand sidebar behaviour which leads to so many misclicks */
      pointer-events: none;
      transition: none;
    }

    [aria-label="Sidebar navigation"],
    nav {
      /* enable mouse events for the things that I actually want to click on */
      pointer-events: all;
    }

    /* reduce hover distractions on little sidebar expand/collapse button */
    [aria-label="Sidebar navigation"] {
      &:hover {
        background: var(--ds-surface-overlay);
        color: var(--ds-text-subtle);
      }
    }

    /* remove useless distracting disclaimer text */
    [data-testid="navigation-apps-sidebar-common.ui.project-footer.test-footer"] {
      display: none;
    }
  }

  /* right sidebar resize handle */
  [data-component-selector="jira-issue-view-common-component-resize-handle"] {
    width: 10px !important;
    opacity: 0.8;
    background-image: var(--grabber-bg-img);
    background-size: var(--grabber-bg-size);
    margin-left: 5px;
    border-right: 5px solid var(--sidebar-bg-color);

    /* remove hover line */
    > div {
      opacity: 0 !important;
    }
  }

  /* right sidebar */
  [data-testid="issue.views.issue-details.issue-layout.container-right"] {
    background-color: var(--sidebar-bg-color);

    [data-component-selector="jira-issue-field-heading-field-wrapper"] {
      margin-bottom: 0 !important;
    }
    #jira-issue-header-actions {
      float: right;
      padding-top: 5px;
      background-color: initial;
    }

    /* buttons I don't use */
    [data-testid="issue.feedback-button.button-unified.button"],
    [data-testid="share-button.ui.pre-share-view.button"],
    [data-testid="issue.views.issue-base.foundation.status.actions-wrapper"],
    [data-testid="issue-view-layout-templates-views.ui.context.visible-hidden.ui.ecosystem-context-group.container.automation-issue-audit-log-panel"],
    [data-testid="issue-view-foundation.quick-add.quick-add-items-compact.apps-button-dropdown--trigger"],
    [data-testid="issue-improve-issue-dropdown.improve-issue-dropdown--trigger"] {
      display: none;
    }

    [data-testid="issue.views.issue-base.context.status-and-approvals-wrapper.status-and-approval"]
      > div {
      padding-top: 4px;
    }

    details > div {
      background: var(--ds-surface, #fff);
    }

    summary > div {
      background: initial;
    }

    [data-component-selector="jira.issue-view.issue-details.full-size-mode-column"] {
      padding-left: 4px;
      padding-right: var(--margin-side);
    }

    [data-component-selector="jira-issue-field-heading-field-heading-title"] {
      white-space: nowrap;
    }

    [data-testid^="issue-view-layout-templates-views.ui.context.visible-hidden.ui.ecosystem-context-group.container.context-group-ecosystemContext"] {
      display: none;
    }
  }
}
