/* ==UserStyle==
@name           Oh Jira
@namespace      github.com/openstyles/stylus
@version        1.1.0
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/jira.user.css
@description    Jira changes - more compact, less busy, utilitarian
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document regexp("https://.+?.atlassian.net.*") {
    #ak-main-content > div {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    .issue-table thead {
        border: none !important;
    }
    .issue-table tbody {
        border: none !important;
    }
    .issue-table > tbody > tr > td {
        padding: 4px 4px !important;
    }

    .empty-results.search-results-dashboard-item {
        padding: 0 !important;
        margin-bottom: 1rem;
    }
}
