/* ==UserStyle==
@name           Linear you can click
@namespace      github.com/openstyles/stylus
@version        1.0.3
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/linear.user.css
@description    Minor improvements to UX
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document domain("linear.app") {
  a {
    cursor: pointer !important;
  }

  button {
    cursor: pointer !important;
  }

  /* parent issue containers alternating bg colors */
  [data-list-container="true"] > div > div > div {
    &:nth-child(2n) {
      background-color: #8080801a;
    }
  }

  /* sub-issues visually distinct from parent issues */
  [data-list-container="true"] > div > div > div > div > div > a span[title] {
    font-style: italic;
    opacity: 0.8;
    font-size: 0.8rem;
  }

  /* style uploads so I can actually see them (not black on black) */
  [data-upload-state] > div > div > div {
    background: #ff80ff1a;
    background: linear-gradient(
      90deg,
      rgba(177, 90, 177, 0.2) 0%,
      rgba(107, 46, 107, 0.2) 100%
    );
    padding: 1rem;
  }
}
