/* ==UserStyle==
@name           Outlookbetter
@namespace      github.com/openstyles/stylus
@version        1.0.2
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/outlook.user.css
@description    Outlook changes, more compact, less annoying distracting junk
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document domain("outlook.office365.com") {
  #CopilotCommandCenterButton {
    display: none;
  }
}
