/* ==UserStyle==
@name           Slack with less noise
@namespace      github.com/openstyles/stylus
@version        1.0.0
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/slack.user.css
@description    Remove hover effects and other noisy junk
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document url-prefix("https://app.slack.com/client/") {
    .c-link:hover {
        text-decoration: none !important;
    }

    .c-message_kit__background--hovered {
        background: none !important;
    }

    .p-workspace__primary_view[aria-label="Channel pr"] .c-message_kit__attachments {
        display: none !important;
    }

    .c-reaction--reacted {
        box-shadow: none !important;
    }

    .c-reaction_add {
        box-shadow: none !important;
    }

    .c-reaction--reacted:hover,
    .c-reaction_add:hover {
        --saf-0: rgba(var(--sk_foreground_high,29,28,29),0.5) !important;
        box-shadow: inset 0 0 0 1px var(--saf-0) !important;
    }

    .c-reaction, .c-reaction_add {
        border-radius: 5px;
    }

    .c-message__reply_bar {
        /* background-color: rgba(var(--sk_primary_background,255,255,255),1); */
        border-color: transparent !important;
    }

    .c-message__actions {
        top: initial;
        bottom: 0px;
    }
}
