/* ==UserStyle==
@name           Slack with less noise
@namespace      github.com/openstyles/stylus
@version        1.0.0
@homepageURL    https://github.com/puyo/config/tree/master/usercss
@updateURL      https://raw.githubusercontent.com/puyo/config/master/usercss/slack.user.css
@description    Remove hover effects and other noisy junk
@author         Gregory McIntyre
==/UserStyle== */

@-moz-document url-prefix("https://app.slack.com/client/") {

    /*
     * -------------------------------------------------------
     * typography
     */

    /* no hover changes */
    .c-link:hover {
        text-decoration: none !important;
    }

    /*
     * -------------------------------------------------------
     * layout
     */

    /* no having to resize thead and main views to take up 50% of the space after resizing the browser */
    .p-workspace-layout {
        display: flex !important;
        grid-template-columns: none !important;
        grid-template-rows: none !important;
        grid-template-areas: none !important;
        position: initial !important;
    }
    .p-workspace__sidebar {
        display: grid !important;
        width: 180px !important;
        min-width: 180px !important;
        top: initial !important;
        bottom: initial !important;
        z-index: initial !important;
        transition: initial !important;
    }
    .p-workspace__primary_view,
    .p-workspace__secondary_view {
        width: calc(100vw - 180px) !important;
    }

    /* stop the sidebar auto hiding on small sizes, it's always important */
    .p-workspace-layout .p-workspace__sidebar--floating {
        position: initial !important;
        transform: initial !important;
    }
    .p-ia__view_header__sidebar_toggle_button {
        display: none !important;
    }

    /* no more resizer handles needed now */
    .p-workspace-layout .p-resizer {
        display: none !important;
    }

    /* no more hiding/displaying these */
    .p-avatar_stack__avatar {
        display: inline-block !important;
    }
    .p-avatar_stack__count {
        padding-left: 14px !important;
        border-radius: 4px !important;
    }

    /*
     * -------------------------------------------------------
     * message
     */

    /* no hover effects */
    .c-message_kit__background,
    .c-message_kit__background--hovered {
        background: none !important;
    }

    /*
     * -------------------------------------------------------
     * message input field
     */

    /* no focus effects */
    .p-message_input_field {
        border-color: rgba(var(--sk_foreground_high, 29, 28, 29), .5) !important;
    }

    /* no superfluous buttons */
    .c-texty_input__button[data-qa="texty_mention_button"],
    .p-shortcuts_menu_trigger_button_left_column,
    .c-texty_input__button--emoji,
    .c-texty_input__button--send {
        display: none !important;
    }

    /* reposition the only useful button */
    .c-icon_button[aria-label="File menu"] {
        right: 0 !important;
    }

    /* widen input on right with no extra buttons */
    .c-texty_input__container[data-buttons="1"] .c-texty_input:not(.c-texty_input--double_decker) .ql-editor {
        width: 100% !important;
        padding-right: initial !important;
    }
    .c-texty_input__container[data-buttons="2"] .c-texty_input:not(.c-texty_input--double_decker) .ql-editor {
        width: 100% !important;
        padding-right: initial !important;
    }
    .c-texty_input__container[data-buttons="3"] .c-texty_input:not(.c-texty_input--double_decker) .ql-editor {
        width: calc(100% - 34px);
        padding-right: 34px;
    }
    .c-texty_input__container[data-buttons="4"] .c-texty_input:not(.c-texty_input--double_decker) .ql-editor {
        width: calc(100% - 68px);
        padding-right: 68px;
    }

    /* widen input on left with no extra buttons */
    .p-workspace__input.p-message_input .p-message_input_field,
    .p-threads_footer__input.p-message_input .p-message_input_field {
        padding-left: 10px !important;
    }

    /* widen placeholder field on left with no extra buttons */
    .c-texty_input .ql-placeholder {
        left: 8px !important;
    }

    /*
     * -------------------------------------------------------
     * message reply bar
     */

    /* make it so I can see this important field - the one thing they didn't draw my attention to */
    .c-message__reply_bar {
        max-width: initial;
        background: rgba(var(--sk_foreground_min, 29, 28, 29), .04) !important;
        border-color: transparent !important;
    }

    /* no hover changing the content, arrgh */
    .c-message__reply_bar_view_thread {
        display: none !important;
    }
    .c-message__reply_bar_last_reply {
        opacity: 1 !important;
    }

    /* no hover effect on the little arrow on the right */
    .c-message__reply_bar_arrow {
        color: rgba(var(--sk_foreground_high_solid, 134, 134, 134), 1) !important;
    }

    /*
     * -------------------------------------------------------
     * message attachments
     */

    /* specific to my worplace, make this channel useable to me by removing the clutter */
    .p-workspace__primary_view[aria-label="Channel pr"] .c-message_kit__attachments {
        display: none;
    }
    .p-workspace__primary_view[aria-label="Channel pr"] .c-message_kit__background--labels--ephemeral .c-message_kit__attachments {
        display: block;
    }

    /*
     * -------------------------------------------------------
     * message reactions
     */

    /* no hover changes */
    .c-reaction:hover,
    .c-reaction--reacted:hover,
    .c-reaction_add:hover {
        background-color: rgba(var(--sk_foreground_min, 29, 28, 29), .04) !important;
    }

    /* no hover changes */
    .c-reaction,
    .c-reaction--reacted,
    .c-reaction_add {
        box-shadow: none !important;
    }

    /* make icons easier to see by reducing border radius a bit */
    .c-reaction,
    .c-reaction_add {
        border-radius: 5px !important;
    }

    /*
     * -------------------------------------------------------
     * message actions
     */

    /* experiment
    .c-message_actions__group {
        opacity: 0 !important;
    }

    .c-message_actions__group:hover {
        opacity: 1 !important;
    }
    */

    /*
     * -------------------------------------------------------
     * threads view
     */

    /* no hover changes */
    .p-threads_view_load_newer_message,
    .p-threads_view_load_older_message {
        background: none !important;
        text-decoration: none !important;
    }

    /* no focus changes */
    .p-threads_footer__broadcast_controls {
        display: none;
    }
}
